name: Build LibCarna-Python Docker Image

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: libcarna-python:latest
          load: true
      
      - name: Test Docker image
        run: |
          docker run --rm libcarna-python:latest cat /opt/libcarna-python-info.txt
          docker run --rm libcarna-python:latest which cmake
          docker run --rm libcarna-python:latest which git
