name: Build LibCarna-Python Docker Image

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: libcarna-python:latest,libcarna-python:${{ github.ref_name }}
          load: true
      
      - name: Test Docker image
        run: |
          docker run --rm libcarna-python:latest python -c "import libcarna.egl; print(libcarna.egl.EGLContext().vendor)" >> output.txt
          cat output.txt
          if [ "$(cat output.txt)" == "Mesa/X.org" ] ; then
            exit 0
          else
            exit 1
          fi

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push image to Docker Hub
        if: github.event_name != 'pull_request'
        run: |
          docker push ${{ github.repository_owner }}/libcarna-python:latest
          docker push ${{ github.repository_owner }}/libcarna-python:${{ github.ref_name }}
